// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$second-main-color: #79E168;
$container-main-color: #FFF4E6;
$main-color-yellow: #F7DB60;
$main-color-gray: #A3A1A1;
$dark-green: #042B1B;
