.lecture-content {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  padding-left: 20px;
  padding-bottom: 16px;
}

.lecture__help {
  &--subtitle {
    font-size: 1.8rem;
    margin: 0;
  }

  p {
    font-size: 20px;
    // color: $main-color-gray;
  }
}


@media (max-width: 768px) {
  .lecture-mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: start;
    width: 100%;
  }

  .lecture-completed-mobile {
    width: 88%;
  }

  .edit_lecture {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .lecture__help {
    &--subtitle {
      font-size: 1.6rem;
    }

    p {
      font-size: 16px;
    }
  }

  .completed-number {
    margin-top: 0 !important;
  }
}
