<div id="notification-dropdown">
  <% if notifications.any? %>
    <% notifications.each do |notification| %>
      <div class="notification-item">
        <p><%= notification.message %></p>
      </div>
    <% end %>
  <% else %>
    <div class="no-notifications">
      <p>You don't have any notifications yet.</p>
    </div>
  <% end %>
</div>
