<h1>Your Favorited Users</h1>

<% if @favourited_users.any? %>
  <div class="favourited-users">
    <% @favourited_users.each do |user| %>
      <div class="user-card">
        <%= link_to user_profile_path(user) do %>
          <div class="d-flex align-items-center">
            <%= image_tag user.avatar_url, class: "avatar", alt: "#{user.name}'s avatar" %>
            <div>
              <h4><%= user.name %></h4>
            </div>
          </div>
        <% end %>
        <%= button_to user_favourite_path(user), method: :post, class: "remove-fav-btn" do %>
          <i class="fa-solid fa-heart text-danger"></i> Remove from Favorites
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You haven't favorited anyone yet.</p>
<% end %>
