.back-btn {
  // review this color
  color: #0151a8;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e2e6ea;
    color: $dark-green;
  }
}

.mark-done-btn {
  // position: fixed;
  // top: 188px;
  // right: 184px;
  // z-index: 1000;
  padding: 12px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: $main-color-green;
  color: $dark-green;
  font-weight: bold;

  &:hover {
    background: #6ED05F;
  }
}

.github-btn-nav {
  color: #24292e;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #6ED05F;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.github-btn-nav:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: #FFD966;
}

.fa-github {
  margin-right: 8px;
  font-size: 18px;
  color: #24292e;
}


//
.btn-request {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.635);
  color: white;

  &:hover {
    background-color: black;
    color: white;
    font-weight: bold;
  }
}


//
.btn-disabled {
  background-color: grey !important;
  cursor: not-allowed;
  opacity: 0.6;
}
