// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "simple_calendar";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";
@import "pages/chapters";
@import "pages/lecture";
@import "pages/meeting";
@import "pages/profile";
@import "pages/calendar";

@import "components/cards";
@import "components/collapsible";
@import "components/buttons";
@import "components/form_edit_userprofile";
@import "pages/login_modal.scss";

body {
  font-family: "Poppins", sans-serif;
  background-color: $container-main-color;
  line-height: 1.6;
}

.container {
  margin-top: 48px;
  margin-bottom: 48px;
}

a {
  text-decoration: none;
}
